//@htmlColor : pink;
//html{
//    background: @htmlColor;
//}

$htmlColor : pink;
html{
    background: $htmlColor;
}
.box{
    composes: bigBox from './common.scss' ;
    height: 200px;
    width: 200px;
    border-radius:20px;
    /*border : 10px solid #ccc;*/
    background: #333;
    transition: transform 1s;
}